<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Year:</b>
  <%= @book.year %>
</p>

<p>
  <b>Pages:</b>
  <%= @book.pages %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.ISBN %>
</p>

<p>
  <b>Interview:</b>
  <%= @book.interview %>
</p>

<p>
  <b>Comment:</b>
  <%= @book.comment %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
